 #page-create-point {
     width: 90%;
     max-width: 1100px;
     margin: 0 auto;
 }
 
 #page-create-point header {
     margin-top: 48px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 #page-create-point header a {
     color: var(--title-color);
     font-weight: bold;
     display: flex;
     align-items: center;
 }
 
 #page-create-point header a span {
     margin-right: 16px;
     background-image: url('../assets/arrow-left.svg');
     display: flex;
     width: 20px;
     height: 24px;
 }
 
 form {
     background-color: white;
     margin: 80px auto;
     padding: 64px;
     border-radius: 8px;
     max-width: 730px;
 }
 
 form h1 {
     font-size: 36px;
 }
 
 form fieldset {
     margin-top: 64px;
     border: 0;
 }
 
 form legend {
     margin-bottom: 40px;
 }
 
 form legend h2 {
     font-size: 24px;
 }
 
 form .field {
     flex: 1;
     display: flex;
     flex-direction: column;
     margin-bottom: 24px;
 }
 
 form .field-grup {
     display: flex;
 }
 
 form input,
 form select {
     background-color: #b3b3bb;
     border: 0;
     padding: 16px 24px;
     font-size: 16px;
     border-radius: 8px;
     outline: 0;
 }
 
 form select {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
 }
 
 form label {
     font-size: 14px;
     margin-bottom: 8px;
 }
 
 form .field-grup .field+.field {
     margin-left: 16px;
 }
 
 form button {
     width: 260px;
     height: 56px;
     background-color: var(--primary-color);
     color: white;
     font-weight: bold;
     font-size: 16px;
     border: none;
     margin-top: 40px;
     transition: 400ms;
     border-radius: 8px;
     transform: translatex(175px);
 }
 
 form button:hover {
     background-color: #2fb86e;
 }
 /* itens de coleta */
 
 .intens-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 18px;
 }
 
 .intens-grid li {
     background-color: #e9e5e5;
     list-style: none;
     border: 2px solid #dad7d7;
     border-radius: 8px;
     height: 180px;
     padding: 5px 24px 16px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     text-align: center;
     cursor: pointer;
 }
 
 .intens-grid li span {
     margin-top: 12px;
     flex: 1;
     display: flex;
     align-items: center;
     color: var(--title-color);
 }
 
 .intens-grid li.selected {
     background: #e1faec;
     border: 2px solid #34cb79;
 }
 
 .intens-grid li:hover {
     background: #9abda9;
     border: 2px solid #070e0a;
 }
 
 .intens-grid li img,
 .intens-grid li span {
     pointer-events: none;
 }